.container{
    width: 600px;
    border: solid 2px #004d99;
    outline: solid 1px lightgray;
    padding: 5px;
    font-family: Helvetica;
    margin-left: auto;
    margin-right: auto;
    font-weight: 549;
}
header ul{
    text-align: center;
}
header li {
    font-weight: 550;
    display: inline;
}
header li :hover,
header li :focus{
    background-color: white;
    color:#004d99;

}
nav {
    background-color: dodgerblue;
    padding: 1px;
}
nav a{
    text-decoration: none;
    background-color: #004d99;
    padding: 7px;
    color: white;
}
img{
    width: 600px;
}
h1{
    font-size: 30px;
    color:white;
    background-color: dodgerblue;
    text-transform: uppercase;
    text-align: center;
    padding:5px;
    font-weight: 550;

}
h2{
    color:white;
    background-color: dodgerblue;
    text-transform: uppercase;
    text-align: center;
    padding:15px;
    font-weight: 550;

}
table,
tr,
td{
    border: solid 1px grey;
    border-collapse: collapse;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
th{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 550;

}
#toprow {
    font-weight: bolder;
    text-align: center;
}
tr:nth-child(even){
    background-color: #99ccff;
}
.recipe {
    font-size: 17px;
}
.recipe li{
    padding: 10px;
}
footer,
footer a{
    text-align: center;
    text-decoration: none;
    background-color: #004d99;
    padding: 14px;
    color: white;
    font-weight: 550;
}
footer a:hover,
footer a:focus{
    background-color: white;
    color: #004d99;
}





